
/* 
    Created on : 12/09/2015, 03:31:48
    Author     : wanderlei
*/



.container-categoria {

    font-size: 0.9em;

    label{
        display: inline-block;
        width:85px;
    }
    #id{
        width: 70px;
        background-color: #ccc;
        color: #000;
    }
    #nome{
        width: 250px;
    }
    #descricao{
        width: 400px;
    }
    .tbl-categoria{
        display: block;
        width:  100%;
        height: 350px;
        overflow-y: auto;
        margin-top: 5px;
        
        tbody {
           font-size: 0.8em;
        }
         tr:hover {
            td {
                background: #f3ee79;
                cursor: pointer;
                font-weight: bolder;
            }
         }
    }    
}