/* 
    Created on : 08/09/2015, 15:39:48
    Author     : wanderlei
*/

/*$li-cor: #edac0b;*/
$li-cor: transparent;
$titulo-lista: #2f8f1e;

@mixin teste() {
    background: $li-cor;
    text-align: left;
    a {
        font-size: 0.7em;
    }
}

.container{
     .btn-primary{
            background-color: $titulo-lista; 
        }
    
}
.panel{
    .panel-heading {
        background-color: $titulo-lista;
    }
}
.painel-fila-pedidos {

    display: block;
    width: 320px;
    position: absolute;
    right: 0px;
    bottom: -20px;
    z-index: 9999;

    .panel-body{        
        width: 300px;
        height: 280px;
        display: none;
        overflow: auto;
        ul{
            padding: 0;
            margin: 0;

            li{
                @include teste;
            }
        }
    }

}

