


<div class="painel-lateral">
    <ul>
        <li>Menu
            <ul>
                <li ><a>Cadastros</a>

                    <ul>
                        <li><a href="" onclick="dialogBox('Teste','Testando o diálogo');" class="btn btn-primary">Sub item</a></li>
                        <li>Sub item</li>
                        <li>Sub item</li>
                        <li>Sub item</li>
                        <li>Sub item</li>
                    </ul>
                </li>
                <li>Opcao 2</li>
                <li>Opcao 3</li>
            </ul>
        </li>
    </ul>
</div>